div.container{
    text-align: center;
}
div.container > div.nav{
    text-align: right;
}
div.container > div.nav > p{
    display: inline;
    color:dimgrey;
    margin-right: 0.4em;
    margin-top: 0.5em;
}
div.container > div.nav > p.user > img{
    display: block;
    float:right;
}
div.container > div.logo{
    text-align: center;
}
div.container > div.logo > img {
    display: block;
    width: 30em;
    margin-right: auto;
    margin-left: auto;
    margin-top: 5em;
}
div.container > div.search{
    display: inline-block;
    border-radius: 25px;
    border: transparent;
    background-color:whitesmoke;
    width: 45em;
    height: 3.5em;
}
div.container > div.search > input {
    width: 39em;
    height: 3.4em;
    border-radius: 25px;
    border: transparent;
    background-color:whitesmoke;
    padding-left: 2em;
    float: left;
    font-size: 15px;
}
div.container > div.search > img {
    width: 2.4em;
    margin-top: 0.2em;
    margin-left: 2em;

}
div.container > div.table_container{
    text-align: center;
}
#table {
    display: table;
    width: 30%;
    margin-left: auto;
    margin-right:auto;
    margin-top: 2em;
}
.row {
    display: table-row;
}
.cell {
    display: table-cell;
}
.col1 {
    width: 25%;
}
.col2 {
    width: 25%;
}
.col3 {
    width: 25%;
}
.col4 {
    width: 25%;
}